.season-details-page-container.football {
    .roster-section-container {
        .players-section-container {
            grid-row: ~"1/4";

            .players-list-container {
                .list {
                    .player-container {
                        display: flex;
                        align-items: center;
                        gap: @space-small;

                        .name {
                            flex-grow: 1;

                            .ellipsis();
                            color: @text-emphasis;

                            .number {
                                font-size: @font-size-xSmall-rem;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }

    .players-records-container {
        .flex-column();
        gap: @space-regular;

        .viewport-wide-start-from(@viewport-regular; {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: @space-xLarge;
            });
    }

    .ranking-tables {
        display: flex;
        flex-direction: column;
        gap: @space-regular;

        .viewport-wide-start-from(@viewport-regular; {
                flex-direction: row;
                flex-wrap: wrap;
                gap: @space-xLarge;

                & > * {
                    flex: 1 1 45%;
                }

                & > :first-child:nth-last-child(odd) {
                    flex-basis: 100%;
                }
            });

        .title {
            .title-decorator(@background-contrast-regular, @white, @background-primary);
        }
    }
}